<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem action="hr.action_hr_job"
              id="menu_action_hr_job_recruiment" name="Job Position"
              parent="hr_recruitment.menu_hr_recruitment_config_jobs"
      sequence="3"/>
    <menuitem action="action_hr_document_type"
              id="menu_hr_document_type" name="Document Type"
              parent="hr_recruitment.menu_hr_recruitment_config_jobs"
      sequence="4"/>

    <menuitem
            id="menu_smn_employee_contract"
            name="Contracts"
            action="smn_hr_contract_action"
            parent="hr.menu_hr_employee_payroll"
            sequence="5"/>
    <menuitem
        id="hr_contract.hr_menu_contract_history"
        action="hr_contract.hr_contract_history_view_list_action"
        parent="hr.menu_hr_employee_payroll"
        name="Contracts"
        sequence="4"
        groups="base.group_no_one"/>
<!--    <menuitem-->
<!--            id="menu_smn_employee_need_create_contract"-->
<!--            name="Need create Contract"-->
<!--            action="smn_hr_contract_action"-->
<!--            parent="hr.menu_hr_employee_payroll"-->
<!--            sequence="6"/>-->
</odoo>